<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.smart_investing_react_native">

  <uses-permission android:name="android.permission.INTERNET" />

  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false" android:theme="@style/AppTheme">
    <activity android:name=".MainActivity" android:exported="true" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name="com.smallcase.gateway.screens.transaction.activity.TransactionProcessActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />

        <data
            android:host="gatewaydemo"
            android:scheme="scgateway" />
        <data
            android:host="gatewaydemo-dev"
            android:scheme="scgateway" />
        <data
            android:host="gatewaydemo-stag"
            android:scheme="scgateway" />
    </intent-filter>
    </activity>

    <activity
            android:name="com.smallcase.loans.features.ScLoanCustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="gatewaydemo"
                    android:scheme="scgateway-loans" />
                <data
                    android:host="gatewaydemo-dev"
                    android:scheme="scgateway-loans" />
                <data
                    android:host="gatewaydemo-stag"
                    android:scheme="scgateway-loans" />
            </intent-filter>
        </activity>

    <activity android:name="com.smallcase.gateway.screens.common.RedirectActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />

        <data
            android:host="gatewaydemo"
            android:scheme="scgatewayredirect" />
        <data
            android:host="gatewaydemo-dev"
            android:scheme="scgatewayredirect" />
        <data
            android:host="gatewaydemo-stag"
            android:scheme="scgatewayredirect" />
    </intent-filter>
    </activity>
  </application>
</manifest>